<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mmorihiro.matchland">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme" >
        <activity
                android:name="mmorihiro.matchland.android.AndroidLauncher"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
